a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin-left: 20%;
}

li {
    display: inline-block;
    margin-left: 20px;
    text-align: right;
}
table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table{
    width: 100%;
}
img{
    position: relative;
    margin-left: 80%;
}

/* #box{
    background-color: aqua;
    resize: both;
    overflow: auto;
} */

