/* h1{
    
    background-image: url(pexels-steve-johnson-1266808.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.for-body{
    background-image: url(pexels-steve-johnson-1266808.jpg);
    background-size: cover;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
} */